a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

._3ysPX {
    display: inline-block;
    border: 2px solid #2693d5;
    border-left: 2px solid transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: _2wmlX .7s infinite linear;
    animation: _2wmlX .7s infinite linear
}

@-webkit-keyframes _2wmlX {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes _2wmlX {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

._2QLhK {
    display: block;
    margin: 50px auto 0
}

._2cR5h {
    border: 2px solid #4A90E2;
    color: #4A90E2;
    font-size: .75rem;
    outline: 0;
    font-weight: 700;
    display: inline-block;
    text-align: center;
    line-height: 1;
    border-radius: 4px;
    padding: .85em 1em;
    background-color: transparent;
    transition: background-color .25s ease-out, color .25s ease-out;
    text-decoration: none
}

._2cR5h:focus,
._2cR5h:not(:disabled):hover {
    border-color: #154781;
    color: #154781;
    cursor: pointer
}

._2cR5h:disabled {
    opacity: .5
}

._3KNEN {
    transition: box-shadow .5s;
    padding: 1.25rem 1.875rem;
    position: relative;
    border-bottom: 1px solid #f4f5f7;
    overflow: hidden;
    font-weight: 400;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

._3KNEN,
._3KNEN:visited {
    color: inherit
}

._3KNEN:first-child {
    border-top: 1px solid #f4f5f7
}

._3KNEN:hover {
    z-index: 2;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .15);
    cursor: pointer
}

._2QqPD {
    transition: opacity .2s;
    opacity: 0
}

._3KNEN:hover ._2QqPD {
    opacity: 1
}

._2R4hT {
    word-break: break-all;
    line-height: 1.3em
}

* {
    box-sizing: border-box
}

body {
    margin: 0;
    font-family: Noto Sans, sans-serif;
    font-weight: 300
}

._2RLxJ {
    font-size: 1.625rem;
    font-weight: 700;
    color: red;
}

.Ni1FC {
    margin: 0 0 1rem
}

.cQFyX {
    padding: 1.875rem
}

a,
a:visited {
    color: #2693d5
}

.zPE3V {
    font-size: 1rem;
    font-weight: 700;
    padding: 0 0 0 .9375rem;
    margin: .9375rem 1.875rem;
    border-left: 2px solid #2693d5;
    text-transform: capitalize
}

._3-rc3 {
    color: #8c8c8c
}

._3U9WS {
    margin-top: 5em
}

._3U9WS:first-child {
    margin-top: 0
}

._2pbRJ {
    margin: 50px auto 0;
    display: block
}

._1OjMw {
    display: block;
    text-align: center
}

._9pFh5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 0 .75em;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

._9pFh5:last-child {
    margin-bottom: 0
}

._2j-rb {
    line-height: 0;
    padding: 4px;
    cursor: pointer;
    background-color: #cfd7df;
    border-radius: 50%;
    display: inline-block;
    border: 0
}

._2j-rb>svg {
    height: 7px;
    width: 7px;
    fill: #fff
}

._2j-rb:hover {
    background-color: #000
}

._3sz1h,
._22nYh {
    height: 5px;
    border-radius: 2px;
    display: block
}

._3sz1h {
    width: 50%;
    max-width: 100px;
    background: #cfd7df;
    margin-top: .5em;
    overflow: hidden
}

._22nYh {
    background: grey;
    transition: width .2s ease
}

._3H8Xo {
    margin-right: 1em;
    margin-bottom: 1em
}

.Odqbl {
    padding: 1.875rem;
    width: 100%;
    font-size: 1rem;
    border: 0;
    border-bottom: 1px solid #f4f5f7;
    outline: 0;
    position: relative;
    display: block;
    font-family: inherit
}

.Odqbl:first-child {
    border-top: 1px solid #f4f5f7
}

._1BCNR,
.Odqbl::-webkit-input-placeholder {
    color: #8c8c8c;
    font-weight: 700
}

._1BCNR,
.Odqbl:-ms-input-placeholder {
    color: #8c8c8c;
    font-weight: 700
}

._1BCNR,
.Odqbl::placeholder {
    color: #8c8c8c;
    font-weight: 700
}

.Odqbl:focus {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .15);
    z-index: 2
}

._25OC1 {
    position: relative
}

._2D9HF {
    position: absolute;
    left: -9999px;
    width: 0;
    height: 0;
    opacity: 0
}

._1BCNR {
    display: inline-block;
    cursor: pointer
}

._2df-_ {
    padding: 1.5em 1.875em;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer
}

._2df-_:first-child {
    border-top: 0
}

.IzuXj {
    margin-right: .75em
}

._3gVNW {
    text-align: center;
    margin: 3em 0
}

._1ilHw,
._22QRq {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

._1ilHw {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 1em;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-top: .45em
}

._3I--4 {
    padding: .9375rem 1.25rem;
    border-radius: 4px;
    margin: 0 1.875rem 1.875rem;
    line-height: 1.4em
}

._3I--4 p {
    margin: 1em 0
}

.b71h5 {
    background-color: #e1faea
}

.zKhW9 {
    background-color: notificationError
}

.eqvpg {
    background-color: #fff3d9
}

._3n4sa {
    background-color: #e9f0f9;
    min-height: 100px;
    transition: all .5s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

._1aMxP {
    background-color: #f3f5f7;
    font-size: .85rem;
    margin: 1.875rem
}

._25uLE {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

._30UUc {
    font-size: .85rem;
    font-weight: 700;
    color: #4d4d4d
}

._3SqQp {
    width: 15px;
    height: 15px
}

._2U6Vq {
    list-style-type: none;
    margin: 1em 0 0
}

._2pY0s {
    margin: .5em 0
}

._1EcEP {
    text-decoration: none;
    cursor: pointer;
    color: #4d4d4d
}

._1EcEP:hover {
    text-decoration: underline
}

._3Luxg {
    padding: 1.875rem;
    border-bottom: 1px solid #f4f5f7
}

._1Xsgh {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 1.875rem
}

._1lwjf,
._25Gxf {
    width: 3.125rem;
    height: 3.125rem;
    margin-right: .9375rem;
    border-radius: 4px
}

._1lwjf {
    background-color: #2693d5;
    color: #fefefe;
    text-align: center;
    font-size: 1.125rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

._1lwjf,
.tLsA9 {
    font-weight: 700
}

._2SwcE {
    color: #8c8c8c;
    font-size: .75rem;
    margin-top: 1em;
    display: block
}

._2qw-y {
    border-left: 1px dotted #2693d5;
    padding-left: 1.5625rem;
    margin-left: 1.5625rem;
    line-height: 1.4em
}

._1RaXJ,
._2qw-y {
    font-size: .875rem
}

._1RaXJ {
    list-style-type: disc;
    margin-left: 1.25rem;
    margin-top: 1.875rem;
    padding-left: 1.25rem
}

._2iKE6 {
    color: #8c8c8c;
    font-size: .75rem;
    text-transform: uppercase;
    display: inline-block;
    margin-left: .75em
}

._2iKE6,
._3Luxg strong {
    font-weight: 700
}

._3Luxg em,
._3Luxg i {
    font-style: italic
}

._3Zmct {
    display: block;
    margin: 50px auto 0
}

.y8NX8 {
    font-size: 1.375rem;
    font-weight: 700
}

._3KzfV {
    width: 100%;
    font-size: 1rem;
    border: 0;
    outline: 0;
    position: relative;
    display: block;
    margin-bottom: 2em;
    resize: none;
    font-family: inherit
}

.VXgRo {
    border-top: 1px solid #f4f5f7;
    border-bottom: 1px solid #f4f5f7;
    padding: 1.875rem
}